
html {
    font-size: 62.5%; /** Reset a Rems **/
    
    box-sizing: border-box;
  }
  *,*:before, *:after{
    box-sizing: inherit;
  }
  
body {
    /** font-family: 'PT Sans', sans-serif;**/
    line-height: 1.4;
}

  /** Globales **/ 
  
.container {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto 0 auto;
}
.no-margin {
    margin: 0;
}
img {
    width: 100%;
}
video {
    width: 100%;
    height: 100%;
}

/** Header **/
.site-header {
    height: 18vh;
    padding: 2rem;
}
.no-pasar {
    overflow: hidden;
}

header > div {
    height: 40%;
    object-fit: cover;
}
header .container p {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2rem;
}
header {
    background: url("images/herringbone.png");
    background-repeat: repeat;
}
.site-header {
    background-color: #D3D3D3;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 5em;
    border: 8px black double;
    display: inline;

}

.container-middle {
    display: flex;
    height: 70vh;
    justify-content:space-between;
    border: 2px solid black;

}
.two-middle {
    display: flex;
    flex-direction: column;
}
.middle {
    background-color: rgba(167, 149, 149, 0.350);
    flex-basis: 33.3%;
    border: 2px solid black;
}
.middle.center {
    overflow: hidden;
    flex-basis: 66.6%;
    background-color: #231C18;
}
.middle.center h3 {
    display:flex;
    justify-content: center;
    font-size: 3em;
    color: white;

}
.middle.center p {
    margin-top: 1rem;
    text-align: center;
    font-size: 3rem;
    color: white;
}

footer{
    background-color: black;
    height: 12vh;
    padding: 3rem;
    font-size: 2em;
}
footer .container {
    display: flex;
    justify-content: space-evenly;
    color: white;
}
footer .container a{
    text-decoration: none;
    color: white;
}