html {
    font-size: 62.5%; /** Reset a Rems **/
    
    box-sizing: border-box;
  }
  *,*:before, *:after{
    box-sizing: inherit;
  }
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(173,169,219);
}
header {
    height: 11.5vh;
    background-color: white;
}
.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.site-header .container {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    align-items: center;
    padding: 3rem;
}
.logo {
    border: 2px solid black;
    font-family: 'Chango', cursive;
}
.site-header .container .navigation a{
    margin-left: 3rem;
    text-decoration: none;
    color: black;
}
.site-header .container .navigation a:hover {
    border-bottom: 2px solid #000000;
}
img {
    width: 25%;
}
video {
    width: 100%;
    height: 100%;
}
main {
    height: 83vh;
    display: flex;
    justify-content: space-between;
}

main section {
    flex-basis: 33.3%;
    background-color: C3C7F3;
}
main section.column-center {
    flex-basis: calc(66.6% - 1rem);
    background-color: white;
}
.column-center {
    display: flex;
    flex-direction: column;
}
.middle-column {
    flex-basis: 16.66666666666667%;
    margin-bottom: 1rem;
    background-color:#E1E3E4;
    display: flex;
    justify-content: center;
}
p span {
    font-size: 2em;
}
.boton {
    text-align: center;
    padding: 1rem 3rem;
    position: absolute;
    margin-left: 1%;
    color: #ffffff;
    text-decoration: none;
    font-family: 'PT Sans' , sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #000000;
}