* {
    margin: 0;
    padding: 0;
}

body{
    padding-left: 3em;
}

.strap {
    height: 10vh;
    width: 94vw;
    background-color: hotpink;
    background-image: url(/template5/imagenes/banner.jpg);
    background-position: center;
}

footer.strap {
    height: 10vh;
    width: 94vw;
    background-color: hotpink;
    background-image: url(/template5/imagenes/banner.jpg);
    position: relative;
    background-position:bottom;
}



.last-container .last-item:first-child{
    background-image: url(/template5/imagenes/camera2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.first-container .first-row:first-child{
    background-image: url(/template5/imagenes/camera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    margin-bottom: 2%;
}

footer {
    margin-top: 2%;
}

header {
   height: 20vh; 
   width: 94vw;
   background: grey;
   margin-bottom: 1em;
   background-image: url(/template5/imagenes/cinema.jpg);
   background-position: center;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 50vh;
    width: 94vw;
}
section > section {
    flex: 1;
}

section > section:nth-of-type(2){
    flex: 3;
}

section > section:not(section:nth-of-type(2)){
    height: 80%;
}

section > section:nth-child(2) {
    background-color: greenyellow;
    background-image: url(/template5/imagenes/chicago_cinema.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.904);
    opacity: 0.4;
}

section > section:nth-child(2) {
    margin: 0 1em 0 1em
}

section > section:first-child > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    flex-wrap: nowrap;
}

section > section:last-child > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.first-row {
    flex: 1;
    background-color: greenyellow;
}

.last-item {
    flex: 1;
    background-color: greenyellow;
}

.first-row:nth-of-type(2) {

    margin: 1em 0 1em 0;
    background-image: url(/template5/imagenes/palomitas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.last-item:nth-of-type(2) {
    margin: 1em 0 1em 0;
    background-image: url(/template5/imagenes/palomitas2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
h1 {
    color: black;
    margin-top: 7rem;
    margin-left: 14rem;
    font-size: 3em;
    position: absolute;
    z-index: 5;
}