* {
    margin: 0;
    padding: 0;
}

body {
    padding: 2vh 2vw 2vh 2vw;
}

section:first-child {
    display: flex;
    justify-content:flex-start;
}

section > section:last-child{
    margin-left: 2em;
}


aside {
    height: 96vh;
    width: 36vh;
    background-color: rgba(128, 128, 128, 0.5);
}

aside > ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

aside > ul > li {
    flex: 1;
    flex-basis: 2rem;
}

aside > ul > li > ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

aside > ul > li > ul > li {
    flex-basis: 2rem;
    font-size: 0.8em;
    list-style: circle;
}

.strap {
    height: 20vh;
    width: 70vw;
}

.strap:not(.strap:nth-child(2)) {
    background-color: black;
}

.strap:nth-child(2) {
    height: 50vh;
    margin: 2em 0 2em 0;
    display: flex;
}

.right-middle{
    flex: 1;
}

.right-middle:last-child {
    margin: 0 0 0 2em;
}

.right-middle > img {
    width: 100%;
    height: 100%;
}

ul > li {
    padding-left: 3%;
    font-size: 1.5em;

}

li {
    list-style: none;
}

li > ul > li:first-child{
    padding-top: 7%;
}