
body {
    background-color: whitesmoke;
    padding: 0 2% 0 2%;
    background: url("images/moroccan-flower.png");
    background-repeat: repeat;
   }
   
   *{
       margin: 0;
       padding: 0;
   }
   
   .box-1 {
       height: 18vh;
       width: 98%;
       margin: 1% 0% 1% 0%;
       border: 2px solid black;
   }
   
   .box-1:first-child > * {
       text-align: center;
       font-family: 'Times New Roman', Times, serif;
   }
   
   header > div {
       height: 40%;
       object-fit: cover;
   }
   
   @supports(object-fit: cover){
       header > div > img {
           height: 100%;
           object-fit: cover;
       }
   }
   .box-1 > h2 {
       font-size: 4em;
   }
   
   .box-1 > p {
       font-size: 2em;
   }
   
   header {
       background: url("images/herringbone.png");
       background-repeat: repeat;
   }
   
   .container-middle {
       display: flex;
       height: 56vh;
       justify-content:space-between;
   }
   
   section {
       width: 98%;
   }
   
   .middle {
       background-color: rgba(167, 149, 149, 0.350);
       overflow-y: auto;
   }
   
   
   .middle:hover{
       margin-top: -10px;
       margin-bottom: 10px;
       margin-left: 1%;
   }
   
   .middle:nth-of-type(2):hover{
       margin-top: -10px;
       margin-bottom: 10px;
       margin-left: 3%;
   }
   
   section > div > div:not(section div:nth-of-type(2)) {
       flex: 1;
   }
   
   section > div > div:nth-of-type(2) {
       flex: 3;
       margin: 0 0 0 2%;
   }
   
   div > h3 {
       padding-top: 1em;
       margin-left: 2em;
       padding-right: 16px;
   }
   
   div > p {
       text-align: center;
       font-family: 'Brush Script MT', cursive;
       font-size: x-large;
   }
   
   div > p:first-child {
       padding: 2em ;
       padding-bottom: 0;
   }
   
   div > p:not(p:first-child) {
       padding: 1em;
   }
   
   footer  {
       background: url("images/crossline-dots.png");
       background-repeat: repeat;
       display: flex;
       flex-direction: column;
       align-items: center;
       overflow-x:auto;
   }
   
   footer > p:first-child {
       padding: 1em 12em 1em 12em;
       font-size: 1.4em;
       text-align: center;
   }
   
   footer > p:last-child {
       color: blue;
       font-size: 1.3em;
   }