
body {
    background-color: whitesmoke;
    padding: 0 2% 0 2%;
    background: url("images/double-bubble-dark.png");
    background-repeat: repeat;
   }
   
*  {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
    }
   .box-1 {
       height: 18vh;
       width: 98%;
       margin: 1% 0% 1% 0%;
       border: 2px solid black;
   }
   
   header {
       background: url("images/moroccan-flower-dark.png");
       background-repeat: repeat;
       text-align: center;
   }

   header > div > ul {
       height: 50%;
       width: 100%;
       list-style: none;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       align-items:baseline;
       font-size:2vmax;
   }

   header>div:first-child{ 
       font-family:"Arial, Helvetica, sans-serif", cursive;
   }

   .left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 2vmax;
    color: white;
   }

   li {
       list-style: none;
   }

   .section-item {
       flex-basis: 20%;
   }

   .section-item:first-child {
       margin-top: 2em;
   }

   .list-item {
    list-style: none;
    display:inline-block;
    padding-top:3%;
    color: white;
   }

   .list-item > a
   {
       color: white;
   }

   .list-item:nth-child(3) > a
   {
       color: red;
   }

   .container-middle {
       display: flex;
       height: 56vh;
       justify-content:space-between;
   }
   
   section {
       width: 98%;
   }
   
   .middle {
       background-color: rgba(245, 245, 245, 0.397) ;
       overflow-y: auto;
       
   }
   
   section > div > div:not(section div:nth-of-type(2)) {
       flex: 1;
       background-color: rgba(47, 79, 79, 0.541);
   }
   
   section > div > div:nth-of-type(2) {
       flex: 3;
       margin: 0 0 0 2%;
   }

   .product {
    margin: 2%;
    display: inline-block;
    height: 14em;
    width: 40%;
    background-color: darkturquoise;
   }
   
   div > h3 {
       font-size: 4em;
   }
   
   footer  {
       background: url("images/bush.png");
       background-repeat: repeat;
       display: flex;
       flex-direction: row;
       align-items: center;
       text-align: center;
       justify-content:space-around;
       overflow-x:auto;
       font-size: 1em;
   }

   footer > p {
       flex-basis: 20%;
   }

   .product > p {
       padding-top: 15%;
       text-align: center;
       font-size: 3em;
   }

   .spring {
    background: url("images/spring.jpg");
    background-position: center;
    background-size: cover;
}

   .summer {
    background: url("images/summer.jpg") ;
    background-position: center;
    background-size: cover;
}

   .fall {
    background: url("images/fall.jpg") ;
    background-position: center;
    background-size: cover;
}

   .winter {
       background: url("images/winter.jpg");
       background-size: 100%;
       background-position-y: 70%;
    }